.tab{
  text-align: center;
  border: solid black 1px;
  width: 60%;
  margin: auto;
  margin-top: 5%;
}

.tab-label{
  border-bottom: solid 1px;
  display: flex;
  justify-content: space-around;
}

.tab-login{
  width: 50%;
}

.tab-register{
  width: 50%;
  border-left: solid 1px;
}

.tab-button{
  width: 100%;
  background-color: rgb(0, 174, 255);
  font-size: 20px;
  color: white;
}