.signup-email{
  font-size: 20px;
  margin-bottom: 2%;
  border-radius: 7px;
  border: 1px solid;
  padding: 5px;
  width: 40%;;
}

.signup-button{
  width: 30%;
  font-size: 15px; 
  color: white;
  background-color: rgb(0, 174, 255);
  margin-bottom: 30px;
}