.new{
}
.new-body{
    border: 1px solid #bdb8b8;    
    width: 50%;
    margin: auto;
    margin-top: 5%;
    height: 140px;
}

.input{
    border-radius: 5px;
    width: 60%;
    font-size: 18px;
}
.label-message{
    vertical-align: top;
}
.new-textarea{
    width: 60%;
}
.message{
    size: 10;
}
.new-button-create{
    border-radius: 5px;
    color: white;
    background-color: rgb(0, 174, 255)    
}
.new-button{
    text-align: center;
}
.new-label{
    margin: 5%;
}
.content{
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*New.js --------------------------------------------------------  */
